# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Test coverage
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Migrations
migrations/

# FastAPI static files
static/
media/

# Environment variables
*.env
.env.*

# Build
build/
dist/
*.egg-info/
.eggs/

# pip
pip-log.txt
pip-delete-this-directory.txt

# mypy
.mypy_cache/
.dmypy.json

# pytest
.pytest_cache/

# SQLite database
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints/